[
   RawMob(
    name: "Orc",
    ai: Some(Basic),
    vision_range: 8,
    blocks_tile: true,
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "o", fg: "#FF0000", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Goblin",
    ai: Some(Basic),
    vision_range: 8,
    blocks_tile: true,
    stats: RawMobStats(hp: 8, max_hp: 8, power: 3, defense: 1),
    glyph: Some(RawGlyph(glyph: "o", fg: "#FF0000", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Kobold",
    ai: Some(Basic),
    vision_range: 4,
    blocks_tile: true,
    stats: RawMobStats(hp: 4, max_hp: 4, power: 0, defense: 2),
    glyph: Some(RawGlyph(glyph: "k", fg: "#FF0000", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Rat",
    ai: Some(Basic),
    vision_range: 4,
    blocks_tile: true,
    stats: RawMobStats(hp: 2, max_hp: 2, power: 3, defense: 1),
    glyph: Some(RawGlyph(glyph: "r", fg: "#FF0000", bg: "#000000", order: Actor)),
  ),
  /// Citizens
  RawMob(
    name: "Barkeep",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "☺", fg: "#EE82EE", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Shady Salesman",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "h", fg: "#EE82EE", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Patron",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "h", fg: "#EE82EE", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Priest",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "☺", fg: "#EE82EE", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Parishioner",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "☺", fg: "#AAAAAA", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Blacksmith",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "☺", fg: "#EE82EE", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Clothier",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "☺", fg: "#EE82EE", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Alchemist",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "☺", fg: "#EE82EE", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Mom",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "☺", fg: "#FFAAAA", bg: "#000000", order: Actor)),
  ),
  RawMob(
    name: "Peasant",
    vision_range: 4,
    blocks_tile: false,
    ai: Some(Bystander),
    stats: RawMobStats(hp: 16, max_hp: 16, power: 4, defense: 1),
    glyph: Some(RawGlyph(glyph: "☺", fg: "#EE82EE", bg: "#000000", order: Actor)),
  ),
]