[
  RawProp(
    name: "Bear Trap",
    glyph: Some(RawGlyph(
      glyph: "^",
      fg: "#FF0000",
      bg: "#000000",
      order: Actor,
    )),
    effects: {
      "damage" : Some("6"),
      "single_activation" : Some("1")
    }
  ),
  RawProp(
    name: "Door",
    glyph: Some(RawGlyph(
      glyph: "+",
      fg: "#805A46",
      bg: "#000000",
      order: Actor,
    )),
    hidden : Some(false),
    door_open : Some(true),
    blocks_tile : Some(true),
    blocks_visibility : Some(true)
  ),
]