[
    SpawnTableEntry(name: "Goblin", weight : 10, min_depth : 0, max_depth : 100),
    SpawnTableEntry(name: "Orc", weight : 1, min_depth : 0, max_depth : 100, add_map_depth_to_weight : Some(true) ),
    SpawnTableEntry(name: "Health Potion", weight : 7, min_depth : 0, max_depth : 100 ),
    SpawnTableEntry(name: "Fireball Scroll", weight : 2, min_depth : 0, max_depth : 100, add_map_depth_to_weight : Some(true) ),
    SpawnTableEntry(name: "Confusion Scroll", weight : 2, min_depth : 0, max_depth : 100, add_map_depth_to_weight : Some(true) ),
    SpawnTableEntry(name: "Magic Missile Scroll", weight : 4, min_depth : 0, max_depth : 100 ),
    SpawnTableEntry(name: "Dagger", weight : 3, min_depth : 0, max_depth : 100 ),
    SpawnTableEntry(name: "Shield", weight : 3, min_depth : 0, max_depth : 100 ),
    SpawnTableEntry(name: "Longsword", weight : 1, min_depth : 1, max_depth : 100 ),
    SpawnTableEntry(name: "Tower Shield", weight : 1, min_depth : 1, max_depth : 100 ),
    SpawnTableEntry(name: "Rations", weight : 10, min_depth : 0, max_depth : 100 ),
    SpawnTableEntry(name: "Magic Mapping Scroll", weight : 2, min_depth : 0, max_depth : 100 ),
    SpawnTableEntry(name: "Bear Trap", weight : 5, min_depth : 0, max_depth : 100 ),
    SpawnTableEntry(name: "Battleaxe", weight : 1, min_depth : 2, max_depth : 100 ),
    SpawnTableEntry(name: "Kobold", weight : 15, min_depth : 0, max_depth : 3 )
]